@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.main-container{
    background-image: url(https://ik.imagekit.io/51ox5sjut/Assests/sea-ocean.webp?updatedAt=1750768462128) ;
    height: 600px;
    width: 300px;
    background-size: cover;
}
.places-main-container{
    background-image: url(https://ik.imagekit.io/51ox5sjut/Assests/taj-mahal.webp?updatedAt=1750937574413) ;
    height: 626px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}